<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Nosotros</h6>
                <p class="text-justify">Somos <i>ESTUDIANTES</i> del Instituto Politecnico Formosa que cursan el
                    primer año de la tecnicatura en DESARROLLO DE SOFTWARE MULTIPLATAFORMA</p>
            </div>



            <div class="col-xs-6 col-md-3">
                <h6>LINKS</h6>
                <ul class="footer-links">
                    <li><a href="">Contactactanos</a></li>
                    <li><a href="">Contribuciones</a></li>
                    <li><a href="">Politicas de privacidad</a></li>
                    <li><a href="">Ubicacion</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 todos los derechos estan reservados.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook text-white"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fab fa-twitter text-white"></i></a></li>
                    <li><a class="github" href="#"><i class="fab fa-github text-white"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>