
  
  #sidebar {
    position: fixed;
    top: 50px;
    left: 220px;
    width: 220px;
    margin-left: -220px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  
  .side-bar > li > a {
    color: #eee;
    width: 220px;
  }
  
  .side-bar li a:hover,
  .side-bar li a:focus {
    background-color: #333;
  }
  
  .tmargin {
    margin-top: 15px;
  }


  #conteiner-clases{
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 3%;
  }

  #clases{
  background-color: rgba(0, 0, 255, 0.158);
  border-radius: 10px;
  }

  .navbar {
    background-color: #222;
    color: #FFFFFF; 
  }
  
  .navbar a {
    color: #FFFFFF; /* Cambia el color de los enlaces en el navbar */
  }
  
  .navbar a:hover {
    color: #333; /* Cambia el color cuando se pasa el cursor sobre los enlaces en el navbar */
  }
  
  .navbar .glyphicon {
    color: #ffffff; /* Cambia el color de los iconos en el navbar */
  }

  .navbar .glyphicon-search{
    color: #333;

  }
  