<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>Iniciar sesion</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="col-2">
                <img src="./img/icon.png" width="60px">
                <a href="./index.html" class="text-decoration-none text-dark ">
                    <strong class="align-content-lg-center">educARse</strong></a>
            </div>


            <div class="dropdown" id="mas-dropdown-navbar">
                <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>MÁS</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-light text-small shadow" id="profile-dropdown">
                    <li><a class="dropdown-item" href="#">Explorar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Favoritos</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Ayuda</a></li>
                </ul>
            </div>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex" id="search-container">
                    <div class="input-wrapper">
                        <input type="search" class="input" placeholder="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </form>


                <div class="dropdown" id="mas-dropdown">
                    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>MÁS</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow" id="profile-dropdown">
                        <li><a class="dropdown-item" href="#">Explorar</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Favoritos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Ayuda</a></li>
                    </ul>
                </div>

                <div class="button-area">
                    <a href="./registro.html" class="btn btn-primary">Registrate</a>
                </div>

            </div>
        </div>
    </nav>


    <div class="container d-flex justify-content-center align-items-center">

        <div class="col-md-6 row form-container">
            <div class="header col-12">
                <h2 class="mb-5 text-center">Login</h2>
            </div>
            <form class="registro-container col-12">
                <div class="form-row">

                    <div class="form-group col-md-12">
                        <label for="email">Correo electronico:</label>
                        <input type="email" id="correo" class="form-control" placeholder="Ingrese su correo">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="password">Contraseña:</label>
                        <input type="password" id="contraseña" class="form-control" placeholder="Ingrese su contraseña">
                    </div>
                </div>

                <button type="button" class="btn btn-primary custom-btn">Log In</button>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>